* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.flex {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  align-items: flex-end;
  flex-basis: calc(50% - 1em);
  margin: .5em;
  min-height: 150px;
}

.flex-item div {
  background-color:aqua;
  padding: 10px;
}

.flex-item:first-child {
  min-height: 300px;
  flex-basis: 100%;
}

.surf-report {
  background-image: url("../images/02-portfolio-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.led-wall {
  background-image: url("../images/02-portfolio-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.calculator {
  background-image: url("../images/02-portfolio-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.pastel-puzzels {
  background-image: url("../images/02-portfolio-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.run-buddy {
  background-image: url("../images/02-run-buddy.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .flex-item {
    flex-basis: 100%
  }
  .flex-item:first-child {
    min-height: 150px;
  }
}

